.paymentPopup-popup{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #00000032;
    display: grid;
}

.paymentPopup-popup-container{
    place-self: center;
    width: 530px;
    color: #808080;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.paymentPopup-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-bottom: 20px;
}

.paymentPopup-popup-title img{
    width: 16px;
    cursor: pointer;
}

.paymentPopup-popup-submit{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
}

.paymentPopup-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.paymentPopup-popup-condition input{
    margin-top: 5px;
}

.paymentPopup-popup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}


.paymentPopup-popup-paymentmode{
    display: flex;
    align-items: start;
    gap: 15px;
    cursor: pointer;
}

.paymentPopup-popup-paymentmode input{
    margin-top: 10px;
    transform: scale(1.5);
}

.paymentPopup-popup-paymentmode-type p:nth-child(1){
    font-size: 20px;
    color: black;
}

.paymentPopup-popup-paymentmode-qr{
    width: min(100%,100vw);
    display: flex;
    justify-content: center;
}
.paymentPopup-popup-paymentmode-qr img{
    border-radius: 10px;
    width: 100%;
}

.paymentPopup-lottie-success-payment{
    width: 150px;
}

.paymentPopup-lottie-success-payment-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
@media (max-width:750px) {
    .paymentPopup-popup-title h2{
        font-size: 20px;
    }
    .paymentPopup-popup-container{
        width: 100vw;
        height: 100vh;
        font-size: 14px;
    }
}